.cabeçalho{background-color: rgb(210, 203, 216);color: black;display:flex;justify-content:space-around;}
.imagem-logo{width:20%}
.cabeçalho_lista item {display:insine-block;
    margin:16px; font-size:20px}

     .açúcar-imagem{width:25%;}
.açúcar{
    background-image: linear-gradient(#ccc7d3,#c6c0ce);
color:#000000;
display:flex;
justify-content:center;
align-items: center;
padding: 24px 0; }
.açúcar-div-conteudo {width: 45%}
.açúcar-titulo{padding: 30px 0;}

.açúcar{ padding: 24px 0; background-color:rgb(190, 185, 196)}

.açúcar-imagem{width: 140px;}

.açúcar-div{
text-align:center;
padding:16px 0;}
.açúcar-titulo{
    text-align:center;
    padding: 50px 0;
    color:rgb(22, 12, 34);
}
.açúcar-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    
}
.açúcar-nome {color:rgb(23, 15, 36);}

.rodape{
 background-color:#beb8c7;
 color:rgb(10, 15, 15);
 text-align: center;
}